*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    /* background-image: url("../images/banner.jpg"); */
    padding: 0 120px;
    /* display: flex;
    justify-content: space-between;
    padding-top: 3%;
    height: 500px; */
    
}
.navbar-content{
height: 100vh;
background-image: url("../images/banner.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.navbar__items{
    /* background-image: url("../images/banner.jpg"); */
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    padding: 25px;
}

ul{ 
    list-style: none;
    text-align: right;
}
a{
    text-decoration: none;
    color:white;
    padding:10px;
}
.btn {
    position: absolute;
    top: 120%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: blue;
    font-size: 13px;
    padding: 6px 24px;
    border: none;
    
  }

.style{
    display: flex;
    font-size: 15px;
    /* padding-left: 100%; */
    font-family: system-ui;
    
}
.logo{
    color: white;
    font-size: 20px;
    margin-left: 20%;
    font-family: system-ui;
}
.circle {
    border-radius: 150%;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 6px none rgb(199, 194, 194);
    color: rgb(221, 213, 213);
    border-color:  rgb(199, 194, 194) ;
    text-align: center;
    font: 30px Arial, sans-serif;
}
.circle2{
    border-radius: 150%;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 6px solid rgb(199, 194, 194);
    color: rgb(221, 213, 213);
    border-color: blue blue blue rgb(199, 194, 194) ;
    text-align: center;
    font: 30px Arial, sans-serif;

}
.place{
    padding-right: 100px;
    font-size: 20px;
    color: rgb(221, 213, 213);
    padding-left: 3%;
}
.place2{
 
    padding-right: 100px;
    font-size: 20px;
    color:white;
    padding-left: 3%;

}
.number{
    display: inline-flex;
    align-self: end;
    align-content: center;
    bottom: 55px;
    position: absolute;
    margin-top: 50%;
}
.headline{

    font-size: 20px;
    margin-top: 17px; 
    
}
.inline{
display: flex;
margin-left: 10%;
 

}

.block{
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    color: rgb(71, 4, 4);
    font-size: 20px;
    margin-left: 20px;
    list-style: none; 
    font-style: Monospace;
    
}
.wide{

    width: 113%;
    margin-left: -128px;
}
.clean {
    font-style: Monospace;

}
.black{
    color: rgb(174, 168, 168);
    font-family: system-ui;
    font-size: 15px;
}
.space{
    /* display: flex; */
    width: 70%;
    /* margin-top: 10%; */

}
.card{
    /* margin-left: 0%; */
    border: 5px 5px none gray;
    box-shadow: 1px 1px 9px 4px #ddd;
    margin:0;
}
.kalam1{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 4%;
}
.kalam2{

font-family: Arial, Helvetica, sans-serif;
color: rgb(218, 212, 212);
padding: 4%;
}
.pos{
width: 100%;
/* display: flex; */
/* padding-right: 12%; */
}
.main{
 width: 30%;
 padding-top: 3%;
 border-left: 2px solid #ddd;

}
.inlinee{

display: flex;
padding: 5%;


}
#kallam{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(218, 212, 212);
    font-size: px;
    padding: 3%;


}
#kallam1{

    padding: 5%;
}
.cards{
/* display: flex; */
border: 1px none black;
padding-left: 5%;
/* margin-left: %; */
}
.cards1{
    
    border: 1px none black;
    padding-left: 5%;
    width: 50%;
}
.coulm{
flex-direction: column;

}
.dont_miss_section_cards{
    display: flex;
    padding: 3%;
    padding-left: 7%;
}
.image-size {
width: 100px;
height: 100px;
padding: 5%;
}
.words-size{
font-size: 18px;
padding: 3%;
padding-top: 6%;
}
.kalam-size {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(218, 212, 212);
    font-size: 15px;

}
.horzi{
    
display: flex;
box-shadow:  1px 1px 9px 4px #ddd;
 


}
.between{

    display: flex;
    justify-content: space-between;
    padding: 3%;
    
}
.section_cards{

    display: flex;
    padding: 3%;
    justify-content: space-evenly;
}
.head{

    padding-top: 3%;
}
.postiton{
    flex-direction: column;
}
.section_content{

    display: flex;
}
.botton{

position: absolute;
    top: 195%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: blue;
    font-size: 13px;
    padding: 6px 24px;
    border: none;

}
.botton1{
    position: absolute;
    top: 195%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: blue;
    font-size: 13px;
    padding: 6px 24px;
    border: none;

}
.show{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 10%;
    margin-top: 5%;
}
.kalam4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-top: 15%;
padding-right: 20%;
color: white;
font-size: 20px;
}
.img{
    background-image: url(../images/xb4.jpg.pagespeed.ic.LdOhOhXA0d.webp);
    background-repeat: no-repeat;
    width: 80%;
    /* background-size: cover; */
    
}
.btn1 {
    position: absolute;
    top: 295%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: blue;
    font-size: 13px;
    padding: 6px 24px;
    border: none;
    
  }
  .btn2 {
    position: absolute;
    top: 295%;
    left: 52%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: blue;
    font-size: 13px;
    padding: 6px 24px;
    border: none;
    
  }
  .btn3 {
    position: absolute;
    top: 295%;
    left: 82%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: blue;
    font-size: 13px;
    padding: 6px 24px;
    border: none;
    
  }
  .kalam-size1 {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(218, 212, 212);
    font-size: 15px;
    padding-top: 6%;

}
.last{
    font-size: 20px;
    margin-top:5%;
    margin-left: 5%;

}
.cards2{
    
    border: 5px 5px none gray;
    box-shadow: 1px 1px 9px 4px #ddd;
    width: 70%;
    margin: 3%;
}
.horzi2{
    
    display: flex;
    /* box-shadow:  1px 1px 9px 4px #ddd; */
    height: 30vh;
    margin: 10%;
    border: 5px 5px none gray;
    box-shadow: 1px 1px 9px 4px #ddd;
    margin:0;
     
     }
     .image-size1 {
        width: 200px;
        height: 200px;
        padding: 5%;
        }
        .main2{
            width: 30%;
        }